<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Purchase Order Rejected</h1>
    
    <p>
      Your purchase order (#<%= @purchase_order.po_number %>) has been rejected.
    </p>

    <h2>Purchase Order Details:</h2>
    <ul>
      <li><strong>Vendor:</strong> <%= @purchase_order.vendor.name %></li>
      <li><strong>Total Amount:</strong> <%= number_to_currency(@purchase_order.total_amount) %></li>
      <li><strong>Expected Delivery:</strong> <%= @purchase_order.expected_delivery_date.strftime("%B %d, %Y") %></li>
    </ul>

    <% if @rejection_reason.present? %>
      <h3>Rejection Reason:</h3>
      <p>
        <%= @rejection_reason %>
      </p>
    <% end %>

    <p>
      Please review the rejection reason and make necessary adjustments before resubmitting the purchase order.
    </p>

    <p>
      You can view and edit the purchase order by clicking the link below:
    </p>

    <p>
      <%= link_to 'View Purchase Order', @url %>
    </p>

    <p>
      <small>This is an automated message. Please do not reply to this email.</small>
    </p>

    <p>
      <small>If you're having trouble accessing the purchase order, make sure the Rails server is running. In your terminal, you should see output like:</small>
    </p>

    <pre>
      => Booting Puma
      => Rails 7.x.x application starting in development
      => Run `bin/rails server --help` for more startup options
    </pre>

    <p>
      <small>If you don't see this, start the server with:</small>
    </p>

    <pre>
      cd procurement_system
      rails server
    </pre>
  </body>
</html> 